*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.landing {
  position: relative;
  height: 100vh;
  background: #0f0f0f;
  color: white;
  overflow: hidden;

  .landing-bg {
  position: absolute;
  inset: 0;
  background-image: url("/Assets/image.jpg");
  background-size: cover;
  background-position: center;
  clip-path: circle(0px at var(--x,50%) var(--y,50%) );
  transition: clip-path 0.15s ease-out;


}
.landing-content {
  position: relative;
  z-index: 2;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}


}


.landing:hover .landing-bg {
    clip-path: circle(100px at var(--x,50%) var(--y,50%) );
}

