.landing {
  position: relative;
  height: 100vh;
  background: #000000;
  color: white;
  overflow: hidden;
#nav{
    width: 100vw;
    background : linear-gradient(to left, rgba(216, 52, 52, 0.937) , rgba(231, 50, 50, 0.915));
    backdrop-filter: blur(20px);
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    padding-block: 0.2rem;
    .trade-mark{
        h1{
            font-size: 2rem;
        }
    }
    .links{
        display: flex;
        gap: 3rem;
        align-items: center;
        padding-inline: 1rem;
    }
}
  .landing-bg {
  position: absolute;
  inset: 0;
  background-image: url("/Assets/image.jpg");
  background-size: cover;
  background-position: center;
  mask-image: radial-gradient(circle 0px at var(--x,50%) var(--y,50%), black 60%, transparent 100%);
  -webkit-mask-image: radial-gradient(circle 0px at var(--x,50%) var(--y,50%), black 60%, transparent 100%);
  filter: drop-shadow(0 0 25px rgba(231, 80, 80, 0.8)) 
          drop-shadow(0 0 50px rgba(231, 80, 80, 0.5));

}
.landing-content {
  position: relative;
  z-index: 2;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  h1{
    font-size: 3rem;
  font-weight: 600;
  margin-bottom: 14px;
  }
  p{
    font-size: 1rem;
  line-height: 1.6;
  opacity: 0.85;
  margin-bottom: 28px;
  }
  #open-editor-btn {
  padding: 12px 22px;
  border-radius: 10px;
  border: none;

  background: linear-gradient(
    135deg,
    #e72c1b,
    #e76666
  );

  color: white;
  font-size: 0.95rem;
  cursor: pointer;

  box-shadow:
    0 8px 20px rgba(110, 15, 15, 0.35);

  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

#open-editor-btn:hover {
  transform: translateY(-2px);
  box-shadow:
    0 12px 28px rgba(233, 97, 52, 0.5);
}
}


}


.landing:hover .landing-bg {
    mask-image: radial-gradient(circle 140px at var(--x,50%) var(--y,50%), rgb(13, 13, 13) 40%, transparent 100%);
    
}

@keyframes breathing {
  0%, 100% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
}

@keyframes breathingHover {
  0%, 100% {
    mask-image: radial-gradient(circle 95px at var(--x,50%) var(--y,50%), black 60%, transparent 100%);
    -webkit-mask-image: radial-gradient(circle 95px at var(--x,50%) var(--y,50%), black 60%, transparent 100%);
  }
  50% {
    mask-image: radial-gradient(circle 105px at var(--x,50%) var(--y,50%), black 60%, transparent 100%);
    -webkit-mask-image: radial-gradient(circle 105px at var(--x,50%) var(--y,50%), black 60%, transparent 100%);
  }
}